<extends src="layout.html">
  <block name="content">
    <header>
      <h1>— jeff reiner; frontend designer based in berlin</h1>
      <p>i'm currently building the future of content infrastructure at <a href="https://www.contentful.com" class="link" target="_blank">contentful</a>.</p>
    </header>

    <main>
      <p>if you have questions, or want to chat, feel free to <a href="mailto:jeff@reiner.design" class="link" target="_blank">shoot me an email</a>. best way to contact me is via dm on <a href="https://twitter.com/mirshko" class="link" target="_blank">twitter</a>.</p>

      <h2 class="section-title">projects</h2>
      <ul class="list">
        <li><a href="https://responsivectabuilder.com" class="link" target="_blank">responsive cta builder</a></li>
        <li><a href="https://thumbnailer.reiner.design" class="link" target="_blank">wistia thumbnail generator</a></li>
        <li><a href="https://noti.center" class="link" target="_blank">noti</a></li>
      </ul>

      <h2 class="section-title">talks</h2>
      <ul class="list">
        <li><a href="http://slides.com/mirshko/ouch-i-stepped-on-a-spike" class="link" target="_blank">ouch i stepped on a spike</a></li>
      </ul>

      <h2 class="section-title">links</h2>
      <ul class="list">
        <li><a href="/jeff-reiner.pdf" class="link" target="_blank">résumé</a></li>
        <li><a href="https://github.com/mirshko" class="link" target="_blank">github</a></li>
        <li><a href="https://dribbble.com/mirshko" class="link" target="_blank">dribbble</a></li>
        <li><a href="https://twitter.com/mirshko" class="link" target="_blank">twitter</a></li>
        <li><a href="https://keybase.io/mirshko" class="link" target="_blank">keybase</a></li>
        <li><a href="https://photos.reiner.design" class="link" target="_blank">photography</a></li>
      </ul>
    </main>

    <footer>
      <p class="copyright">jeff reiner</p>
    </footer>
  </block>
</extends>
