<extends src="layout.html">
  <block name="content">
    <div class="container">
      <div class="grid">
        <section class="section -wide">
          <header>
            <h1 mdi>My name is Jeff Reiner, I'm a frontend designer (👨‍💻👨‍🎨) based in Berlin.</h1>
            <p>I'm currently building the future of content infrastructure at <a href="https://www.contentful.com" class="link" target="_blank">Contentful</a>.</p>
          </header>
        </section>

        <section class="section">
          <p>If you have any questions about my work, or design, or development, feel free to <a href="mailto:jeff@reiner.design" class="link" target="_blank">shoot me an email</a>.</p>
        </section>

        <section class="section">
          <h2 class="section-title">Projects</h2>
          <ul>
            <li><a href="https://responsivectabuilder.com" class="link" target="_blank">Responsive CTA Builder</a></li>
            <li><a href="https://thumbnailer.reiner.design" class="link" target="_blank">Wistia Thumbnail Generator</a></li>
            <li><a href="https://noti.center" class="link" target="_blank">Noti</a></li>
          </ul>
        </section>

        <section class="section">
          <h2 class="section-title">Talks</h2>
          <ul>
            <li>
              <a href="http://slides.com/mirshko/ouch-i-stepped-on-a-spike" class="link" target="_blank">Ouch I Stepped On A Spike</a>
              <span role="img"> 🌵</span></li>
          </ul>
        </section>

        <section class="section">
          <h2 class="section-title">Links</h2>
          <ul>
            <li>
              <a href="/jeff-reiner.pdf" class="link" target="_blank">Résumé</a>
              <span role="img"> 📄</span>
            </li>
            <li>
              <a href="https://github.com/mirshko" class="link" target="_blank">GitHub</a>
              <span role="img"> 🐙😺</span>
            </li>
            <li>
              <a href="https://dribbble.com/mirshko" class="link" target="_blank">Dribbble</a>
              <span role="img"> 🏀</span>
            </li>
            <li>
              <a href="https://twitter.com/mirshko" class="link" target="_blank">Twitter</a>
              <span role="img"> 🕊</span>
            </li>
            <li>
              <a href="https://medium.com/@mirshko" class="link" target="_blank">Medium</a>
              <span role="img"> 📝</span>
            </li>
            <li>
              <a href="https://keybase.io/mirshko" class="link" target="_blank">Keybase</a>
              <span role="img"> 🔐</span>
            </li>
            <li>
              <a href="https://photos.reiner.design" class="link" target="_blank">Photography</a>
              <span role="img"> 📷</span>
            </li>
          </ul>
        </section>

        <section class="section -wide">
          <footer>
            <p>© 2018 Jeff Reiner</p>
          </footer>
        </section>
      </div>
    </div>
  </block>
</extends>
