<extends src='layout.html'>
  
  <block name='header'>
    <div class="logo">
      <svg fill="#fff" width="28" height="28" viewBox="0 0 28 28" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:figma="http://www.figma.com/figma/ns"><g figma:type="canvas"><use xlink:href="#a" figma:type="vector"/></g><defs><path id="a" fill-rule="evenodd" d="M0 0h28v28H0V0zm12 16H4v8h2v-3h4v-2H6v-1h6v-2zm12 0h-8v8h2v-3h4v-2h-4v-1h6v-2zm-8-4V4h8v2h-6v1h4v2h-4v1h6v2h-8zm-4-8H4v2h4v4H6V8H4v4h6V6h2V4z"/></defs></svg>
    </div>
    <h1>👋 My name is Jeff Reiner, I'm a web developer & designer based in Boston.</h1>
    <h2>I'm currently working at <a class="link" data-logo-fill="#1b5faa" target="_blank"  href="http://onshape.com">Onshape</a>, building and designing the marketing website.</h2>
  </block>
  
  <block name='content'>
    <p class="lead">If you have any questions about my work, or design, or development, or just want to say hi, shoot me an <a target="_blank" href="mailto:jeff@reiner.io">email</a>.</p>
    <div class="flex-grid cols">
      <div class="col projects">
        <h2>projects</h2>
        <ul>
          <li>Quarry <small>(WIP)</small></li>
          <li>Responsive CTA Builder <small>(WIP)</small></li>
          <li><a target="_blank" href="http://thumbnailer.reiner.io">Wistia Thumbnail Generator</a></li>
          <li><a target="_blank" href="http://onshape.com">Onshape.com</a> <small>(Ongoing)</small></li>
          <li><a target="_blank" href="http://noti.center">Noti</a></li>
        </ul>
      </div>
      <div class="col links">
        <h2>Links</h2>
        <ul>
          <li><a class="link resume" data-logo-fill="#2962FF" target="_blank" href="http://resume.reiner.io">Résumé</a></li>
          <li><a class="link github" data-logo-fill="#6e5494" target="_blank" href="http://github.com/mirshko">GitHub</a></li>
          <li><a class="link dribbble" data-logo-fill="#c13584" target="_blank" href="http://dribbble.com/mirshko">Dribbble</a></li>
          <li><a class="link twitter" data-logo-fill="#1da1f2" target="_blank" href="http://twitter.com/mirshko">Twitter</a></li>
          <li><a class="link medium" data-logo-fill="#00AB6C" target="_blank" href="http://blog.reiner.io/">Medium</a></li>
          <li><a class="link keybase" data-logo-fill="#33a0ff" target="_blank" href="https://keybase.io/mirshko">Keybase</a></li>
        </ul>
      </div>
    </div>
    
    <h2>Hello World!</h2>
    <p>Thanks for using <a href='https://github.com/static-dev/spike'>spike</a></p>
    <p>Example of locals: {{ foo }}</p>
    <p md> Example of **markdown**</p>
    <p>Example of "smart quotes" -- and dashes</p>

    <hr>

    <h3>Getting Started</h3>

    <h4>The Stack:</h4>
    <ul>
      <li><a href="http://github.com/reshape/reshape">reshape</a> for HTML transforms</li>
      <li><a href="https://babeljs.io/">babel</a> for JS transforms</li>
      <li><a href="http://postcss.org/">postcss</a> for CSS transforms</li>
      <li><a href="http://webpack.github.io">webpack</a> for JS bundling</li>
    </ul>

    <p>Customize your settings by editing the <a href="https://spike.readme.io/docs/appjs">app.js</a> file or simply start by editing this view</p>
  </block>
  
</extends>