<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <block name="title">
      <title>— jeff reiner; frontend designer</title>
    </block>

    <meta name="description" content="— jeff reiner; frontend designer">
    <meta name="author" content="jeff reiner <jeff@reiner.design>">
    <meta name="theme-color" content="#171a21">

    <link rel="icon" href="/favicon.png">

    <block name="stylesheets">
      <link rel="stylesheet" href="/css/index.css">
    </block>

    <include src="partials/_google-analytics.html"></include>
  </head>

  <body>
    <main id="{{ pageId }}">
      <block name="content"></block>
    </main>
  </body>
</html>
