* {
	box-sizing: inherit;
}

html {
	margin: $contentMargin;
	@media #{$smallScreen} {
		margin: $contentMargin / 1.6;
	}
	background-color: $primary;
}

body {
	-webkit-font-smoothing: antialiased;
	font-family: $fontFamily;
	font-size: $fontSize;
	@media #{$smallScreen} { font-size: 16px; }
	line-height: $lineHint;
	margin: 0;
}

@mixin highlight($backgroundColor, $color) {
	&::selection {
		color: $color;
		background: $backgroundColor;
	}
	&::-moz-selection {
		color: $color;
		background: $backgroundColor;
	}
}

@include highlight($link, $white);

img {
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	user-drag: none;
}

main { max-width: 1000px; }

section { margin-bottom: $sectionMargin; }

.logo svg {
	fill: $black;
	&:hover { fill: $link; }
	
	height: 96px;
	width: 96px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-transform: uppercase;
	letter-spacing: 2px;
}

ul,
ol {
	list-style: none;
	padding-left: 0;
	
	li {
		margin-bottom: 12px;
		word-break: break-all;
		word-wrap: break-word;
	}
}

// DISPLAY

.flex-grid { display: flex; }
@media #{$smallScreen} {
	.flex-grid { display: block; }
}
.col {
	flex: 1;
	
	&:not(:first-child) { margin-left: 16px }
	&:not(:last-child) { margin-right: 16px }
}
@media #{$smallScreen} {
	.col {
		&:not(:first-child) { margin-left: 0 }
		&:not(:last-child) { margin-right: 0 }
	}
}

// LINKS

a {
	text-decoration: none;
	color: $link;
	padding-bottom: 2px;
	outline: none;
	font-weight: bold;
	
	&:hover,
	&:focus,
	&:active { border-bottom: 2px solid $link; }
}

.github {
	color: $github;
		
	&:hover,
	&:focus,
	&:active { border-bottom: 2px solid $github; }
	@include highlight($github, $white);
}

.twitter {
	color: $twitter;
	
	&:hover,
	&:focus,
	&:active { border-bottom: 2px solid $twitter; }
	@include highlight($twitter, $white);
}

.medium {
	color: $medium;
	
	&:hover,
	&:focus,
	&:active { border-bottom: 2px solid $medium; }
	@include highlight($medium, $white);
}

.dribbble {
	color: $dribbble;
	
	&:hover,
	&:focus,
	&:active { border-bottom: 2px solid $dribbble; }
	@include highlight($dribbble, $white);
}

.keybase {
	color: $keybase;
	
	&:hover { border-bottom: 2px solid $keybase; }
	@include highlight($keybase, $white);
}