main a {
	text-decoration: none;
	color: $link;
	outline: none;
	font-weight: bold;
	
	border-bottom: $borderThickness solid rgba($link, 0.0);
	transition: border-bottom-color .2s ease-out; 
	
	&:hover,
	&:focus,
	&:active { border-bottom: $borderThickness solid rgba($link, 1.0); }
}

.github {
	color: $github;
		
	&:hover,
	&:focus,
	&:active { border-bottom: $borderThickness solid $github; }
}

.twitter {
	color: $twitter;
	
	&:hover,
	&:focus,
	&:active { border-bottom: $borderThickness solid $twitter; }
}

.medium {
	color: $medium;
	
	&:hover,
	&:focus,
	&:active { border-bottom: $borderThickness solid $medium; }
}

.dribbble {
	color: $dribbble;
	
	&:hover,
	&:focus,
	&:active { border-bottom: $borderThickness solid $dribbble; }
}

.keybase {
	color: $keybase;
	
	&:hover { border-bottom: $borderThickness solid $keybase; }
}