$primaryColor: #fff;
$secondaryColor: #212121;
$fontFamily: "Hack", monospace;

$smallScreen: "only screen and (max-width: 600px)";

$twitter: #1da1f2 !default;
$github: #6762a6 !default;
$dribbble: #c13584 !default;
$medium: #00AB6C !default;
$keybase: #33a0ff !default;

$black: #212121;