$smallScreen: "only screen and (max-width: 600px)";

$fontFamily: Hack, monospace;
$fontSize: 18px;
$lineHint: 1.6;

$contentMargin: 64px;
$sectionMargin: 40px;


// COLORS

$white: #FAFAFA !default;
$black: #212121 !default;

$primary: $white;
$secondary: $black;
$link: #2962FF !default; // Material Blue A700 

$twitter: #1da1f2 !default;
$github: #6762a6 !default;
$dribbble: #c13584 !default;
$medium: #00AB6C !default;
$keybase: #33a0ff !default;