@keyframes flipper
  25%
    fill: var(--red)
  50%
    fill: var(--yellow)
  75%
    fill: var(--blue)
  100%
    fill: var(--black)

@keyframes pulse
  0%
    transform: translateY(0px)
  50%
    transform: translateY(-16px)
  100%
    transform: translateY(0px)
