* { box-sizing: inherit; }

html { background-color: var(--white); }

body {
	-webkit-font-smoothing: antialiased;
	font-family: var(--fontFamily);
	
	font-size: var(--fontSize);
	
	line-height: var(--lineHeight);
	margin: 0;
}

header, main, footer {
	padding: var(--padding);
	
	@media (max-width: var(--mobile)) { padding: var(--padding) / 1.6; }
}

header {
	color: var(--white);
	background-color: var(--primary);
	
	transition: background-color var(--easing);
	
	h1, h2 { text-transform: inherit; }
	h1 {
		line-height: 1.4;
		font-size: responsive 32px 80px;
		upper-font-range: 1440px;
		
		@media (min-width: var(--mobile)) {
			margin-bottom: 64px;
			margin-top: 80px;
		}
	}
	
	h2 {
		color: rgba(var(--white), .70);
		
		
		@media (min-width: var(--mobile)) { margin-bottom: 32px; }
	
		font-size: 24px;
		
		a {
			text-decoration: none;
			outline: none;
			
			color: rgba(var(--white), 1.0);
			
			border-bottom-width: .125em;
			border-bottom-style: solid;
			border-bottom-color: rgba(var(--white), 0.0);
			
			transition: border-bottom-color var(--easing);
			
			&:hover,
			&:focus,
			&:active { border-bottom-color: rgba(var(--white), 1.0); }
		}
	}
}

main {
	max-width: var(--widescreen);
	
	p:first-child { margin-top: 0; }
	
	.lead {
		font-size: 24px;
		a { border-bottom-width: .125em; }
	}
}

img {
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	user-drag: none;
}

.logo svg {
	height: 80px;
	width: 80px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Space Mono", monospace;
	text-transform: uppercase;
	letter-spacing: 2px;
}

ul,
ol {
	list-style: none;
	padding-left: 0;
	
	&:last-child { margin-bottom: 0; }
	
	li {
		margin-bottom: 12px;
		word-wrap: break-word;
	}
}

// DISPLAY

.flex-grid {
	display: flex;
	
	@media (max-width: var(--mobile)) { display: block; }
}

.cols {
	margin-left: -16px;
	margin-right: -16px;
	margin-top: -16px;
	
	&:not(:last-child) { margin-bottom: 16px; }
}

.col {
	flex: 1;
	padding: 16px;
}