.grid
  display: flex
  flex-direction: column

  @media (--largeAndUp)
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-gap: 1rem

  & > section
    grid-column: span 2

    &:nth-child(odd)
      grid-column: 2 / span 2

    &.-wide
      grid-column: span 3
