.grid
  display: flex
  flex-direction: column

  @media (--largeAndUp)
    display: grid
    grid-template-columns: repeat(3, 1fr)

  & > section
    grid-column: span 2

  & > section:nth-child(odd)
    grid-column: 2 / span 2

  & > section.-wide
    grid-column: span 3
