a
  color: var(--white)
  text-decoration: none
  cursor: pointer
  outline: none
  position: relative

  &::after
    position: absolute
    content: ''
    width: 100%
    transform: skew(20deg)
    transition: transform .2s
    transform-origin: 0
    z-index: -1
    top: 0
    left: 0
    right: 0
    bottom: 0
    background-color: var(--matteBlack)

  &:hover,
  &:focus,
  &:active
    color: white

    &::after
      transform: skew(-20deg)
