.link
  color: var(--black)
  text-decoration: none
  cursor: pointer
  outline: none
  font-weight: 600
  position: relative
  z-index: 1

  &:hover,
  &:focus,
  &:active
    text-decoration: underline
    text-decoration-skip: ink
