.-fade
  animation-name: fade
  animation-timing-function: ease-in
  animation-duration: 1s

.section-title
  position: absolute
  text-transform: uppercase
  right: 2rem
  user-select: none
  color: currentColor
  mix-blend-mode: overlay
  margin: 0
  font-family: var(--fontStack)
  font-weight: 900
  font-size: 3rem
  line-height: 2rem
  content: attr(data-title)
