.section-title
  text-transform: uppercase
  color: currentColor
  mix-blend-mode: overlay
  margin-top: 0
  margin-bottom: .5rem
  font-weight: 900
  font-size: responsive 1.5rem 3rem

  @media (--mediumAndUp)
    margin-bottom: 2rem

  @media (--extraLargeAndUp)
    margin-bottom: 3rem

.section
  background-color: #fff
  padding: 1rem

  @media (--mediumAndUp)
    padding: 2rem

  @media (--largeAndUp)
    padding: 3rem 4rem
