.shapes > div
  animation-name: float
  animation-iteration-count: infinite
  animation-timing-function: ease-in-out
  animation-duration: 6s

  position: fixed

  z-index: -1

  border-radius: 1000px

  @media (--smallAndDown)
    display: none
