.red
  background-color: var(--red)

.blue
  background-color: var(--blue)

.yellow
  background-color: var(--yellow)

.black
  background-color: var(--black)

.lesserWhite
  background-color: var(--lesserWhite)

.shapes > div
  animation-name: pulse
  animation-iteration-count: infinite
  animation-timing-function: ease-in-out
  animation-duration: 6s

  position: fixed

  z-index: -1

  border-radius: 1000px
