.skew-sections
  @media (--extraLargeAndDown)
    overflow: hidden

  & > section
    transform: skew(var(--skew))

    & > div,
    & > h2,
    &::before
      transform: skew(-var(--skew))

    &:nth-child(even)
      transform: skew(-var(--skew))

      & > div,
      & > h2,
      &::before
        transform: skew(var(--skew))
