:root {
  --fontSize: 20px;
  --fontFamily: "Work Sans", sans-serif;
  --lineHeight: 1.6;

  --padding: 64px;

  --borderThickness: 2px;

  --easing: .2s ease-out;

  --mobile: 768px;
  --widescreen: 1192px;

// COLORS
  --white: white;
  --black: #212121;
  --A700: #2962FF;

  --primary: var(--A700);
  --secondary: var(--black);
  --link: var(--A700); 

// SOCIAL COLORS
  --twitter: #1da1f2;
  --github: #6e5494;
  --dribbble: #c13584;
  --medium: #00AB6C;
  --keybase: #33a0ff;
}